.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  width: 200px;
  max-height: 100px;
  line-height: 30px;
  padding: 20px 0;
  background: lightBlue;
  float: left;
  margin: 0 1em 1em 0;
  text-align: center;
  border: 3px solid lightBlue;
  cursor: pointer;
}

.item.selected,
.item.active {
  border: 3px solid black;
}

.item.hidden,
.item.available {
  opacity: 0.5;
  cursor: not-allowed;
}

.row {
  clear: both;
}
