body {
  margin: 0;
  /* font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif; */
  font-family: korolev-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border: none;
}
button:focus {
  outline: 0;
}

form {
  text-align: left;
}

.flow-chart {
  position: relative;
}

.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: purple; */
  background-image: url('lines.svg');
  background-position: -6px -3px;
}
button.box.enabled:active {
  box-shadow: 0 0 2px;
  transform: translate(1px, 1px);
  box-shadow: inset 2px 2px 0;
}
button.box {
  /* text-transform: uppercase; */
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: white;
  float: left;
  width: 19%;
  padding-bottom: 19%;
  margin: 3%;
  height: 0;
  box-shadow: 1px 1px 2px black;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  opacity: 1;
}
button.box .box-content {
  opacity: 0.4;
  border: 4px solid transparent;
}
button.box.enabled .box-content,
button.box.active .box-content {
  opacity: 1;
}
button.box.active.enabled .box-content {
  border: 4px solid black;
}
button.box.active .box-content {
  border-style: dashed;
  border-color: black;
  margin-top: 0;
}
.box.plant-material .box-content {
  background-color: #fac863;
  border-color: #fac863;
}
.box.crude-extract .box-content {
  background-color: #f99157;
  border-color: #f99157;
}
.box.refined-extract .box-content {
  background-color: #ec5f67;
  border-color: #ec5f67;
}
.box.packaged-product .box-content {
  /* background-color: #5fb3b3; */
  background-color: #6699cc;
  border-color: #6699cc;
}
.box.branded-product .box-content {
  background-color: #99c794;
  border-color: #99c794;
}

.box-content {
  /* margin: 2px 0 0 2px; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20% 0;
}

.wordpress {
  max-width: 1210px;
  margin: 0 auto;
  overflow: hidden;
  /* background: #0fc; */
  height: 100%;
}

.scrollable {
  margin-bottom: 100px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-width: 600px;
  margin: 0 auto; */
  /* margin-bottom: 70px; /* Dynamically Set with JavaScript */
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1210px;
  overflow-y: scroll;
  overflow-x: hidden;
}
form.y-hidden,
.y-hidden {
  transform: scaleY(0);
  padding: 0;
  transform-origin: top;
}

.inputs.collapsed {
  transform: scaleY(0);
}
.inputs {
  clear: both;
  padding: 10px;
  background: lightGreen;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.26s ease;
  /* transition: height 0.26s ease; */
}
.outputs {
  padding: 10px;
  background: pink;
  transform: scaleY(1);
  transition: transform 0.26s ease;
}
label {
  margin-top: 10px;
}

.reset {
  padding: 10px;
  background: pink;
  border: 3px solid pink;
  margin: 10px;
}

button.item {
  width: 200px;
  min-height: 80px;
  line-height: 22px;
  padding: 10px 0;
  background: lightBlue;
  float: left;
  margin: 0 1em 1em 0;
  text-align: center;
  border: 3px solid lightBlue;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 700;
}

button.item {
  display: none;
}

.item.active {
  float: none;
  display: block;
  border: 3px solid black;
}

.item.enabled {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.item.enabled.active {
  border: 3px dashed black;
}

.row,
.clearfix {
  clear: both;
}
