body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border: none;
}
button:active {
  box-shadow: inset 2px 2px 0;
}
button:focus {
  outline: 0;
}

form {
  text-align: left;
}

.wordpress {
  max-width: 1210px;
  margin: 0 auto;
  overflow: hidden;
  background: #0fc;
  height: 100%;
}

.scrollable {
  margin-bottom: 100px;
  background: lightYellow;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1210px;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
form.y-hidden,
.y-hidden {
  transform: scaleY(0);
  padding: 0;
  transform-origin: top;
}

.inputs.collapsed {
  transform: scaleY(0);
}
.inputs {
  clear: both;
  padding: 10px;
  background: lightGreen;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.26s ease;
  /* transition: height 0.26s ease; */
}
.outputs {
  padding: 10px;
  background: pink;
  transform: scaleY(1);
  transition: transform 0.26s ease;
}
label {
  margin-top: 10px;
}

.reset {
  padding: 10px;
  background: pink;
  border: 3px solid pink;
  margin: 10px;
}

button.item {
  width: 200px;
  min-height: 80px;
  line-height: 22px;
  padding: 10px 0;
  background: lightBlue;
  float: left;
  margin: 0 1em 1em 0;
  text-align: center;
  border: 3px solid lightBlue;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 700;
}

button.item {
  display: none;
}

.item.active {
  float: none;
  display: block;
  border: 3px solid black;
}

.item.enabled {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.item.enabled.active {
  border: 3px dashed black;
}

.row,
.clearfix {
  clear: both;
}
