body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border: none;
}
button:active {
  box-shadow: inset 2px 2px 0;
}
button:focus {
  outline: 0;
}

form {
  text-align: left;
}

.inputs {
  clear: both;
  padding: 10px;
}
.outputs {
  padding: 10px;
  background: lightGreen;
}
label {
  margin-top: 10px;
}

.reset {
  padding: 10px;
  background: pink;
  border: 3px solid pink;
  margin: 10px;
}

button.item {
  width: 200px;
  min-height: 80px;
  line-height: 22px;
  padding: 10px 0;
  background: lightBlue;
  float: left;
  margin: 0 1em 1em 0;
  text-align: center;
  border: 3px solid lightBlue;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 700;
}

.item.active {
  border: 3px solid black;
}

.item.enabled {
  opacity: 1;
  cursor: pointer;
}

.item.enabled.active {
  border: 3px dashed black;
}

.row,
.clearfix {
  clear: both;
}
